.accountData {
  text-align: left;
  margin-bottom: 3px;  
  padding: 5px 12px;
  font-size: 16px;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  background: #fafbfc;  
}

.icon_fin {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.invoice_img {
  height: 150px; 
  margin: 10px 0;
  cursor: pointer;
}

.invoice_img img {
  box-shadow: 0 0 5px rgba(0,0,0,0.3);  
}

.imgStyle {
  position: fixed;
  top: 87px;
  width: 80%;
  height: 500px;
  z-index: 50;
}

/*首页上传头像*/
.cropArea {
    width: 400px;
    height: 400px;
    border: 1px solid #ededed;
    float: left;
}
.cropImg {
    width: 100px;
    height: 100px;
    border: 1px solid #ededed;
    float: right;
}
.cropImg img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/*首页*/
.accountItem {
  flex: 1;
  padding: 30px 0;
  text-align: center;
}
.accountItem:nth-child(odd) {
  background: #fafbfc;
}
.accountImg {
  width: 40px; 
  height: 40px;
  margin: 0 auto;
}
.accountingTitle {
  padding-top: 8px;
}
.accountPrice {
  font-family: '苹方';
  font-size: 16px;
  font-weight: 300;
}
.income {
  background: url(../img/income.png) no-repeat center center;
  background-size: 100% 100%;
}
.expend {
  background: url(../img/expend.png) no-repeat center center;
  background-size: 100% 100%;  
}
.currentBalance {
  background: url(../img/CurrentBalance.png) no-repeat center center;
  background-size: 100% 100%;   
}
.freezingBalance {
  background: url(../img/FreezingBalance.png) no-repeat center center;
  background-size: 100% 100%;   
}
.expenseToBeApproved{
  background: url(../img/FreezingBalance.png) no-repeat center center;
  background-size: 100% 100%;
}
.availableBalance {
  /* width: 64px;
  height: 64px;
  margin: 0 auto; */
  background: url(../img/AvailableBalance.png) no-repeat center center;
  background-size: 100% 100%;  
}
.r-accountItem {
  padding: 24px 0;
  color: #f78797;
}
.r1-accountItem {
  padding: 24px 0;
  color: #4f71ee;
}
.r-accountInfo {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.r-accountingTitle{
  font-size: 20px;
  text-align: center;
}
.r-accountPrice {
  font-size: 20px;
  font-family: '苹方';
  font-weight: 300;
}
.orderItem {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  padding: 14px 0;
  color: #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.orderItem div:first-child {
  font-size: 18px;
}
.orderItem div:last-child {
  font-size: 12px;
}
.orderItem:hover {
  color: #fff!important;
}
.orderItem div {
  text-align: center;
}
.todayGroup {
  background: #52abec;
}
.todayGroup:hover {
  box-shadow: 0 0 10px rgba(0,89,155,0.5); 
}
.todayBackGroup {
  background: #7bdbf3;
}
.todayBackGroup:hover {
  box-shadow: 0 0 20px rgba(0,124,155,0.4); 
}
.tomorrowGroup {
  background: #fbc590;
}
.tomorrowGroup:hover {
  box-shadow: 0 0 20px rgba(159,79,0,0.4); 
}
.tomorrowBackGroup {
  background: #ffa5b2;
}
.tomorrowBackGroup:hover {
  box-shadow: 0 0 20px rgba(157,0,23,0.4); 
}
.bottomInfo td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tableLayout {
  table-layout: fixed;
}

/*产品行程页面*/
.bg-tab {
  padding: 2px 10px;
  border-radius: 4px;
  background: #ededed;
  transition: all 0.3s;
}
.tab-hover:hover {
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
.list-group-sp .list-group-item {
  margin-bottom: 20px;
  box-shadow: 0 0 2px rgba(0,0,0,0.1);
}
.panel {
  border: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.itinerary-btn {
  display: inline-block;
  transition: all 0.3s;
}
.itinerary-btn:hover {
  transform: scale(1.5,1.5);
}
.commonSelect .ui-select-match-item span:last-child {
  display: inline-block;
}
.tripDate {
  color: #23b7e5;
  padding-left: 8px;
}
.tripDate:hover {
  cursor: pointer;
}

/*系统设置模块——参数设置*/
.sys-list {
  margin: 0!important;
  padding: 13px 0;
  border-bottom: 1px dashed #ededed;
}
.vbox {
  min-height: inherit;
}
.vbox .row-row .cell .cell-inner {
  position: inherit;
}
.scrollable.hover:hover {
  overflow-y: visible!important;
}




/*登录界面1.0*/
.loginTitle{
  margin-bottom: 30px;
  font-size: 32px!important;
  letter-spacing: 10px;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
.listBox {
  width: 400px;
  padding: 20px 30px 50px 30px;
  background: rgba(255,255,255,0.2);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
.list-item {
  margin: 0 auto 24px!important;
  border-radius: 8px!important;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.btn-primary[disabled] {
  background: #b18857;
  border: none;
}
.btn-submit {
  background: #b18857;
  border: none;
  border-radius: 8px;
}
.login-btn:hover {
  background: #916b3f!important;
  border: none!important;
}
.w-xxl {
  width: 400px;
  margin: 0 auto;
}
.langToggle {
  color: #fff;
}
.langToggle:hover {
  color: #fff!important;
}
.langToggle:focus {
  color: #fff!important;
}
.CopyRight {
  position: fixed;
  bottom: 30px;
  width: 100%;
  margin: 0 auto;
}
video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}



/*北青登录界面2.0*/
/*标题栏*/
header {
  height: 98px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  margin-right: auto;
}
.header_right {
  position: absolute;
  top: 33px;
  right: 15px;
}
.headerBtn,.dropdown_btn {
  margin-right: 20px;
  padding: 5px 0;  
}
.headerBtn a,.dropdown_btn>a {
  padding: 5px 10px;
  font-size: 16px;  
  color: #2198c9;  
  border: 1px solid #2198c9;
  border-radius: 4px;  
}
.headerBtn a:hover,
.dropdown_btn>a:hover,
.dropdown_btn>a.active {
  color: #fff;  
  background: #2198c9;
}
.dropdown_browsers {
  display: none;
  position: absolute;
  top: 32px;
  left: -34px;
  width: 200px;
  height: 52px;
  line-height: 52px;
  text-align: center;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  z-index: 999;
}
.dropdown_browsers a {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin: 9px 10px;
  border: none;
}

.icon_google {
  background: url(../img/icon-google.png) no-repeat center center;
  background-size: 100% 100%;
}
.icon_firefox {
  background: url(../img/icon-firefox.png) no-repeat center center;
  background-size: 100% 100%;
}
.icon_sogou {
  background: url(../img/icon-sogou.png) no-repeat center center;
  background-size: 100% 100%;
}
.dropdown_btn:hover .dropdown_browsers {
  display: block!important;
}
.headerTel i {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  background: url(../img/icon-tel.png) no-repeat center center;
  background-size: 100% 100%;
}
.headerTel span {
  font-size: 22px;
  color: #2198c9;
}
/*banner*/
.banner {
  margin-top: 24px;
}
.bannerImg {
  height: 500px!important;
  object-fit: cover;
}
/*登录框*/
.loginBox {
  position: absolute;
  top: 122px;
  left: 0;
  width:100%;
  height: 450px;
  background: transparent;  
}
.login {
  position: absolute;
  top: 50px;
  right: 15px;
  width: 280px;
  height: 300px;
  padding: 50px 30px 30px 30px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
.login>div:not(:last-child) {
  padding-bottom: 20px;
  position: relative;
}
.login input {
  padding-left: 44px;
}
.comm_icon {
  position: absolute;
  top: 6px;
  left: 12px;
  display: block;
  width: 20px;
  height: 20px;
}
.company_name {
  background: url(../img/icon-company.png) no-repeat center center;
  background-size: 100% 100%;
}
.person_name {
  background: url(../img/icon-person.png) no-repeat center center;
  background-size: 100% 100%;  
}
.password {
  background: url(../img/icon-password.png) no-repeat center center;
  background-size: 100% 100%;  
}
.loginBtn {
  margin-top: 18px;
  padding: 10px 0;
  line-height: 1!important;
  color: #fff;
  background: #2198c9;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.loginBtn:hover,.loginBtn:focus,.loginBtn:active {
  color: #fff;
  cursor: pointer;
  opacity: 0.8;  
}
/*推荐产品*/
.recommendTitle,.recommendInfo,.retailTitle,.retailInfo {
  padding-left: 11px;
  padding-right: 11px;
}
.recommendInfo>div,.retailInfo>div {
  padding-left: 4px;
  padding-right: 4px;
}
.topLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 30px;
}
.topLabel div {
  width: 214px;
  height: 22px;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  color: #2198c9;
  background: url(../img/img-title.png) no-repeat center center;
  background-size: 100% 100%;
}
.layerMask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: all 0.3s;
}
.layerMask .titleBox div {
  text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  text-align: center;
}
.layerMask .titleBox div:first-child {
  font-size: 24px;
  line-height: 30px;  
}
.layerMask .titleBox div:last-child {
  font-size: 16px;
  line-height: 24px;  
}
.proItem {
  padding-bottom: 8px;
}
.proItem:hover ul {
  display: block;
  height: 100%;
}
.proItem:hover .layerMask {
  opacity: 0;
}
.proItem ul {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  margin: 0;
  padding: 0;
  color: #fff;
  background: rgba(0,0,0,0.3);  
  transition: all 0.3s;
}
.proItem ul li {
  margin: 0 24px;
  padding: 10px 0;
  border-bottom: 1px dashed #ededed;
}
.proItem ul li:first-child {
  padding-top: 35px;
}
.proItem ul li:last-child {
  padding-bottom: 35px;
  border-bottom: none;
}
.proItem ul div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.proItemName {
  max-width: 40%;
  float: left;
  padding-right: 16px;
}
.proItemDate {
  max-width: 20%;
  float: left;
}
.proItemPrice {
  max-width: 30%;
  float: right;
}
/*门市热线*/
.retailInfo {
  margin-bottom: 30px;
}
.retailInfo>div {
  padding-bottom: 8px;
}
.retailImg {
  opacity: 1;
  -webkit-transform: translateY(0) rotateX(0);
  transform: translateY(0) rotateX(0);
  transition: all .5s ease-in-out 0s;
  z-index: 100;
}
.retailItem {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 32px;
  opacity: 0;
  color: #fff;
  background: #08cbde;
  transition: all 0.5s ease-in-out 0s;
}
.retailItem div {
  padding-bottom: 8px;
}
.retailList:hover .retailImg {
  -webkit-transform: translateY(-100%) rotateX(90deg);
  transform: translateY(-100%) rotateX(90deg);
  -webkit-transform-origin: center bottom 0;
  transform-origin: center bottom 0;
  opacity: 0;
}
.retailList:hover .retailItem {
  opacity: 1;
}
.retailAddress {
  margin: 0 0 50px 0!important;
}
#map {
  height: 500px;
}
/*底部导航*/
.login_footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 180px;  
  color: #fff;
  background: #1e1f1f;
}
.login_footer .container {
  padding-top: 24px;
}
.login_footer ul {
  padding-left: 0;
  margin-bottom: 0;
}
.login_footer li:not(:last-child),.navItem div {
  padding-bottom: 8px;
}
.login_footer a {
  color: #fff!important;
}
.login_footer a:hover,.login_footer a:focus {
  color: #fff!important;
}
.navItem {
  flex: 1;
}
.navItemTitle {
  font-size: 16px;
  font-weight: bold;
}

/*关于我们页面*/
.companyInfo {
  margin-top: 24px;
}
.lsideNavList {
  margin-bottom: 0;
  padding: 16px 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.lsideNavItem {
  padding: 10px 0;
  text-align: center;
}
.lsideNavItem.active {
  color: #1792c6;
  background: #f4f7f9;
  border-left: 1px solid #1792c6;
}
.rsideInfo {
  padding: 24px 32px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2); 
}
.rsideTitle {
  font-size: 18px;
  padding-bottom: 8px;
}
.aboutBody {
  height: auto!important;
  margin-bottom: 180px;
}


/*移动端样式修改*/
@media (max-width: 767px){
  .off-screen {
    top: 75px!important;
    width: 75%!important;
  }
  .off-screen + * {
    padding-top: 75px!important;
  }  
  .homeModal {
    padding: 0;
  }
  .scope {
    width: 100%!important;
  }
  .r-accountItem {
    display: block;
  }
  .availableBalance {
    width: 48px;
    height: 48px;
  }
  .r-accountInfo {
    padding-left: 15px;
    padding-right: 15px;
  }
  .r-accountPrice {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 24px;
  }
  .w-xxl,.listBox {
    width: 100%!important;
  }  
  header {
    height: auto!important;
    line-height: inherit!important;
  }
  .logo {
    position: inherit;
    width: 100%!important;
    margin-right: 0!important;
    padding: 15px 0;
  }
  .header_right {
    position: inherit;
    display: block;
    top: 0;
    right: 0;
  }
  .dropdown_btn,.headerBtn {
    margin-right: 10px;
    padding: 6px 0;
  }
  .dropdown_btn,.headerBtn,.headerTel {
    float: left;
    padding-bottom: 15px;
  }
  .banner {
    display: none;
  }
  .loginBox {
    position: inherit;
    height: 350px;
  }
  .login {
    right: 50%;
    margin-right: -150px;
  }
  .login_footer {
    position: inherit;
    height: auto!important;
  }
  .navItemTitle {
    font-size: 14px;
  }
  .navList {
    display: block;
  }
  .navItem {
    width: 50%;
    float: left;
    padding-bottom: 20px;
  }
  .navItem li {
    font-size: 12px;
  }
  .aboutBody {
    margin-bottom: 0;
  } 
}



/* 登录页面 验证码样式 */
.posi-rela{
  position: relative;
}
.ver-code-input{
  padding-right: 80px;
}
.ver-code-input-img{
  width: 80px;
  height: 34px;
  position: absolute;
  top: 6px;
  right: 10px;
  bottom: 6px;
}