<div class="box m-b-0">
	<form class="form-inline">
	    <input type="text" class="form-control form-control-sm" placeholder="Jane Doe">
	    <input type="text" class="form-control form-control-sm" placeholder="Jane Doe">
	    <input type="text" class="form-control form-control-sm" placeholder="Jane Doe">
	    <input type="text" class="form-control form-control-sm" placeholder="Jane Doe">
	    <input type="text" class="form-control form-control-sm" placeholder="Jane Doe">
	    <input type="text" class="form-control form-control-sm" placeholder="Jane Doe">
	    <input type="text" class="form-control form-control-sm" placeholder="Jane Doe">
	</form>
</div>
<div class="padding p-b-0">
 	<div class="box m-b-0">
	            <div ui-grid="gridOptionsSimple" style="height:600px;"></div>
        </div>
</div>
