<div class="padding">
     <div class="box">
        <div class="box-header">
            <h2>票务</h2>
        </div>
        <div class="p-x">
            <button class="md-btn md-raised m-b-sm w-xs blue">录入机票</button>
            <button class="md-btn md-raised m-b-sm w-xs blue">录入车票</button>
            <button class="md-btn md-raised m-b-sm w-xs blue">录入成本</button>
            <button class="md-btn md-raised m-b-sm w-xs blue">付款</button>
        </div>
    </div>
    <div class="box">
        <div class="box-header">
            <h2>计调</h2>
        </div>
        <div class="p-x">
            <button class="md-btn md-raised m-b-sm w-xs blue">录入产品</button>
            <button class="md-btn md-raised m-b-sm w-xs blue">开团</button>
            <button class="md-btn md-raised m-b-sm w-xs blue">录入单价</button>
            <button class="md-btn md-raised m-b-sm w-xs blue">录入成本</button>
            <button class="md-btn md-raised m-b-sm w-xs blue">付款</button>
        </div>
    </div>
    <div class="box">
        <div class="box-header">
            <h2>销售</h2>
        </div>
        <div class="p-x">
            <button class="md-btn md-raised m-b-sm w-xs blue">报名</button>
            <button class="md-btn md-raised m-b-sm w-xs blue">变更游客</button>
            <button class="md-btn md-raised m-b-sm w-xs blue">变更费用</button>
            <button class="md-btn md-raised m-b-sm w-xs blue">转团</button>
            <button class="md-btn md-raised m-b-sm w-xs blue">收款</button>
            <button class="md-btn md-raised m-b-sm w-xs blue">开发票</button>
            <button class="md-btn md-raised m-b-sm w-xs blue">借发票</button>
        </div>
    </div>
</div>
